.package-ui {
    position: relative;

    .package {
        &:hover {
            @include package-theme($package-default-hover-color);
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 60px;
        left: -3px;
        top: -19px;
        z-index: 20;
        transform: rotate(45deg);
    }

    &_checkbox {
        position: absolute;
        opacity: 0;
        z-index: -1;

        & ~ .package-ui_note--selected,
        & ~ .package-ui_note--disabled {
            display: none;
        }

        &:checked {

            & + .package {
                @include package-theme($package-selected-color);

                &:hover:not(.just-selected) {
                    @include package-theme($package-selected-hover-color);
                }
            }

            & ~ .package-ui_note {

                &--selected {
                    display: block;
                }

                &--default {
                    display: none;
                }
            }
        }

        &:disabled {
            & + .package{
                @include package-theme($package-disabled-color);

                &::before {
                    background: linear-gradient(135deg,transparent 31px, #F7F7F7 31px);
                }

                .package_content::after {
                    background: rgba(244,244,244,0.75);
                }

                .package_features-list,
                .package_header,
                .package_title {
                    color: #b3b3b3;
                }
            }

            & ~ .package-ui_note {

                &--disabled {
                    display: block;
                }

                &--default {
                    display: none;
                }
            }
        }

        &:focus + .package {
            box-shadow: 0 44px 170px 0px hsla(0,0%,100%,0.12);
        }
    }

    &_note {
        color: #fff;
        font-size: 0.8125em;
        margin: 14px 0;
        text-align: center;

        &--disabled {
            color: #ffff66;
        }
    }
}