*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: $base-font-family;
    font-weight: 300;
    line-height: 1.2;
    font-size: 14px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

label,
a {
    cursor: pointer;
}

.pseudo-link {
    display: inline-block;
    font-weight: 600;
    color: $link-color;
    text-decoration: none;
    border: 0;
    padding: 0;
    border-bottom: 1px dashed $link-color;
    line-height: 1;
}