$fonts-path: '../fonts/';

@font-face {
    // Exo2.0 Thin
    font-family: 'Exo';
    src:
    url($fonts-path + 'Exo-Thin.otf') format('opentype'),
    url($fonts-path + 'Exo-Thin.eot'),
    url($fonts-path + 'Exo-Thin.woff') format('woff'),
    url($fonts-path + 'Exo-Thin.woff2') format('woff2'),
    url($fonts-path + 'Exo-Thin.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    // TrebuchetMS Regular
    font-family: 'TrebuchetMS';
    src:
    url($fonts-path + 'TrebuchetMS-Regular.ttf') format('truetype'),
    url($fonts-path + 'TrebuchetMS-Regular.eot'),
    url($fonts-path + 'TrebuchetMS-Regular.woff') format('woff'),
    url($fonts-path + 'TrebuchetMS-Regular.woff2') format('woff2'),
    url($fonts-path + 'TrebuchetMS-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    // TrebuchetMS Bold
    font-family: 'TrebuchetMS';
    src:
    url($fonts-path + 'TrebuchetMS-Bold.ttf') format('truetype'),
    url($fonts-path + 'TrebuchetMS-Bold.eot'),
    url($fonts-path + 'TrebuchetMS-Bold.woff') format('woff'),
    url($fonts-path + 'TrebuchetMS-Bold.woff2') format('woff2'),
    url($fonts-path + 'TrebuchetMS-Bold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}