.page {
    background: url("../img/page-bg.jpg");
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 200%;
        left: -25%;
        top: 0;
        bottom: 0;
        z-index: -1;
        box-shadow: inset 0 0 80px 170px rgba(0,0,0,0.3);
    }
}

.page-header,
.page-content {
    width: 100%
}

.page-header {
    align-self: flex-end;
    padding: 40px 0 28px;
}

.page-content {
    align-self: flex-start;
}

.page-title {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 36px;
}

.container {
    @include container(false);
}