$base-font-family: "TrebuchetMS", Helvetica, Arial, sans-serif;
$headings-font-family: "Exo", Helvetica, Arial, sans-serif;

$link-color: #1698d9;

$package-default-color: #1698d9;
$package-default-hover-color: #2ea8e6;
$package-selected-color: #d91667;
$package-selected-hover-color: #e62e7a;
$package-disabled-color: #b3b3b3;