.package {
    display: block;
    width: 100%;
    height: 420px;
    position: relative;
    border: 0;
    padding: 0;
    border-radius: 10px;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
    }

    &::before {
        height: 43px;
        z-index: 2;
        left: 2px;
        top: 4px;
        right: 4px;
        border-top-right-radius: 8px;
        background: linear-gradient(135deg,transparent 31px, #fff 31px);
    }

    &::after {
        height: 46px;
        top: 0;
        left: 0px;
        right: 0;
        z-index: 1;
        border-top-right-radius: 10px;
        background: linear-gradient(135deg,transparent 31px, $package-default-color 31px);
        transition: .2s;
    }

    &_content {
        height: 100%;
        position: relative;
        z-index: 2;
        padding: 20px 48px;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            transition: .2s;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        &::before {
            background: #fff;
            background-image: url("../img/package-bg-cat.png");
            background-repeat: no-repeat;
            background-position: center calc(100% + 91px);
            background-size: 320px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 45px;
            border: 4px solid $package-default-color;
            border-top: 0;
            transition: .2s;
        }

        &::after {
            bottom: 4px;
            left: 4px;
            right: 4px;
            top: 45px;
        }
    }

    &_header {
        color: #666666;
        margin-bottom: 10px;
    }

    &_title {
        font-size: 42px;
        color: #000;
        font-weight: bold;
        line-height: 1.1;
        margin-bottom: 14px;

        small {
            display: block;
            font-size: 0.5em;
        }
    }

    &_features-list {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #666666;
        font-size: 0.875em;

        b {
            font-weight: 600;
        }
    }

    &_weight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80px;
        height: 80px;
        position: absolute;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        color: #fff;
        font-size: 42px;
        text-align: center;
        line-height: 1;
        background: $package-default-color;
        transition: .2s;
        z-index: 5;

        & > span {
            display: block;
            font-size: 21px;
            line-height: .8;
        }
    }

    @media screen and (min-width: 768px) {
        height: 480px;

        &_title {
            font-size: 48px;
            margin-bottom: 18px;
        }

        &_header {
            margin-bottom: 7px;
        }

        &_content {
            &::before {
                background-size: auto;
            }
        }
    }
}

.packages-list {
    @include container();
    justify-content: space-around;
    align-items: center;

    &_item {
        display: block;
        max-width: 290px;
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0 15px 20px;
    }

    @media screen and (min-width: 1024px) {
        justify-content: space-between;

        &_item {
            max-width: 320px;
        }
    }
}