head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
        block title
            | Нямушка
    link(rel="stylesheet" href="assets/css/style.css")