mixin package(package)
    if package.is_ui
        label.package(for=package.id)
            .package_content
                .package_header Сказочное заморское яство
                .package_title Нямушка
                    small= package.flavour
                ul.package_features-list
                    each feature in package.features
                        if _.parseInt(feature)
                            li 
                                b= feature.substr(0, feature.indexOf(" ")) + " "
                                = feature.substr(feature.indexOf(" ")+1)
                        else
                            li= feature
                .package_weight= package.weight
                    span кг
    else
        .package
            .package_content
                .package_header Сказочное заморское яство
                .package_title Нямушка
                    small= package.flavour
                ul.package_features-list
                    each feature in package.features
                        li= feature
                .package_weight= package.weight
                    span кг