extends ../layouts/layout.pug

include ../mixins/package.pug

block content
    header.page-header
        .container
            h1.page-title Ты сегодня покормил кота?
    .page-content
        .packages-list
            each package in mocks['packages']
                .packages-list_item
                    .package-ui
                        input.package-ui_checkbox.package-ui-checkbox(type="checkbox" disabled=package.is_disabled id=package.id)
                        +package(package)

                        if package.is_disabled
                            .package-ui_note.package-ui_note--disabled= package.uiDisabledNote
                        else
                            .package-ui_note.package-ui_note--default Чего сидишь? Порадуй котэ,
                                label.pseudo-link(for=package.id) купи.
                            .package-ui_note.package-ui_note--selected= package.uiSelectedNote