@mixin container($should-be-row: true) {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;

    @if $should-be-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } @else {
        padding: 0 15px;
    }
}