@mixin package-theme($color) {
    &::after {
        background: linear-gradient(135deg,transparent 31px, $color 31px);
    }

    .package_content::before {
        border-color: $color;
    }

    .package_weight {
        background-color: $color;
    }
}